#root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-primary);
}

/* Global Layout Utilities */
.grid-bento {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}

.col-span-4 {
  grid-column: span 4;
}

.col-span-6 {
  grid-column: span 6;
}

.col-span-8 {
  grid-column: span 8;
}

.col-span-12 {
  grid-column: span 12;
}

@media (max-width: 768px) {

  .col-span-4,
  .col-span-6,
  .col-span-8 {
    grid-column: span 12;
  }
}